@import "vars";

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

/* Vendor */
@import "vendor/slick";
/* Blocks */
@import "blocks/container";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/nav";
@import "blocks/intro";
@import "blocks/services";
@import "blocks/about-us";
@import "blocks/team";
@import "blocks/patiens";
@import "blocks/comments";
@import "blocks/location";
@import "blocks/footer";