*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
html {
  font-size: 15px;
  overflow-x: hidden;
}
html.no-scroll {
  overflow: hidden;
}
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}
/* Vendor */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-dots {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: -2rem;
  left: 0;
  z-index: 2;
}
.slick-dots li {
  margin: 0 16px;
}
.slick-dots li.slick-active button {
  background-color: #3CABFF;
}
@media (max-width: 415px) {
  .slick-dots li {
    margin: 0 8px;
  }
}
.slick-dots button {
  width: 16px;
  height: 16px;
  padding: 0;
  border: 1px solid #fff;
  background: rgba(60, 171, 255, 0.16);
  border-radius: 50%;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}
.slick-dots button:focus {
  outline: none;
}
/* Arrows */
.slick-prev {
  background: rgba(60, 171, 255, 0.4);
  border-radius: 8px 0px 0px 8px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  z-index: 10;
  display: block;
  height: 58px;
  width: 24px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  color: transparent;
  top: 50%;
  right: 100%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 50;
  border: none;
  outline: none;
  background-image: url(/img/Arrow-left.png);
  background-repeat: no-repeat;
  background-position: 0;
  background-position-x: 5px;
  transition: 0.2s all linear;
}
.slick-prev:hover {
  background-color: #3CABFF;
}
.slick-next {
  background: rgba(60, 171, 255, 0.4);
  border-radius: 0px 8px 8px 0px;
  position: absolute;
  z-index: 10;
  display: block;
  height: 58px;
  width: 24px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  color: transparent;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 50;
  border: none;
  outline: none;
  transition: 0.2s all linear;
  background-image: url(/img/Arrow-right.png);
  background-repeat: no-repeat;
  background-position: 0;
  background-position-x: 5px;
}
.slick-next:hover {
  background-color: #3CABFF;
}
/* Blocks */
.container {
  width: 100%;
  max-width: 1250px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
header {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 50;
}
header.active {
  background-color: white;
  box-shadow: 0px 2px 16px rgba(60, 171, 255, 0.16);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}
.header__inner .logo__avatar img {
  height: 70px;
}
.nav {
  display: flex;
}
.nav__link {
  padding-left: 40px;
  text-decoration: none;
  color: #333333;
  font-size: 1.2rem;
  font-weight: 400;
  transition: 0.2s linear all;
  align-items: center;
}
.nav__link:hover {
  color: #3CABFF;
}
@media (max-width: 415px) {
  .nav__link {
    padding-left: 0;
  }
}
.header__main-info a {
  text-decoration: none;
  color: white;
}
.header__main-info .youtube-icon {
  margin-right: 26px;
}
.header__main-info .viber-icon {
  margin-right: 26px;
}
.header__main-info .phone_number {
  z-index: 10;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border: none;
  outline: none;
  background-color: inherit;
  text-align: right;
  color: #333333;
}
@media (max-width: 415px) {
  .header__main-info {
    display: none;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .phone_number {
    display: none;
  }
  .header__burger {
    display: block;
    height: 20px;
    width: 30px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .nav {
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .nav.active {
    top: 0;
  }
  .nav a {
    margin-top: 40px;
  }
}
@media (max-width: 768px) and (max-width: 415px) {
  .nav {
    width: 70%;
    right: 0;
    text-align: start;
  }
  .nav a {
    margin-left: 24px;
  }
  .nav a:first-child {
    margin-top: 136px;
  }
}
.intro {
  padding-top: 150px;
}
@media (max-width: 415px) {
  .intro {
    padding-top: 105px;
  }
}
.intro_inner {
  display: flex;
  position: relative;
  flex-direction: column;
}
.intro__title {
  font-weight: bold;
  font-size: 4.26rem;
  line-height: 64px;
}
@media (max-width: 415px) {
  .intro__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    width: 320px;
  }
}
.intro__subtitle {
  margin-top: 16px;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 64px;
}
@media (max-width: 415px) {
  .intro__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    width: 320px;
    margin-bottom: 250px;
  }
}
.intro__btn {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
  color: white;
  background: #3cabff;
  width: 212px;
  height: 56px;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  transition: 0.2s all linear;
}
.intro__btn:hover {
  background-color: #0088ef;
}
@media (max-width: 415px) {
  .intro__btn {
    display: none;
  }
}
.intro-mobile__btn {
  display: none;
}
@media (max-width: 415px) {
  .intro-mobile__btn {
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    background: #3cabff;
    width: 212px;
    height: 56px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    transition: 0.2s all linear;
    margin: auto;
  }
  .intro-mobile__btn:hover {
    background-color: #0088ef;
  }
}
.intro__photo__buble {
  position: absolute;
  top: -1px;
  bottom: -175px;
  right: 0px;
  z-index: -1;
}
@media (max-width: 415px) {
  .intro__photo__buble {
    top: -150px;
  }
}
.intro__photo__cat {
  position: absolute;
  width: 377px;
  height: 333px;
  left: 680px;
  top: -40px;
  z-index: 1;
}
@media (max-width: 415px) {
  .intro__photo__cat {
    width: 154px;
    height: 136px;
    left: 10px;
    top: 270px;
  }
}
.intro__photo__dog {
  position: absolute;
  width: 525px;
  height: 510px;
  right: -50px;
  top: -50px;
  z-index: 2;
}
@media (max-width: 415px) {
  .intro__photo__dog {
    width: 215px;
    height: 209px;
    right: 40px;
    top: 250px;
  }
}
.services {
  padding-top: 13.3rem;
}
@media (max-width: 415px) {
  .services {
    display: none;
  }
}
.services__header {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}
.services__cards {
  padding-top: 2.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services__cards button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}
.services__card {
  overflow: hidden;
  position: relative;
  margin-left: 1rem;
  margin-top: 2.6rem;
  width: 280px;
  height: 224px;
  box-shadow: 0px 2px 16px rgba(60, 171, 255, 0.16);
  border-radius: 8px;
}
.services__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.services__content {
  padding-top: 1.06rem;
  padding-bottom: 1.06rem;
  transition: 0.3s all linear;
}
.services__content:hover {
  background-color: #3CABFF;
}
.services__content:hover .services__title {
  color: white;
}
.services__title {
  text-align: center;
  color: #3CABFF;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.13rem;
}
.block {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 80%;
  text-align: center;
  padding: 6.4rem 4.93rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  background: #3CABFF;
  display: none;
}
.about-us {
  margin-top: 104px;
  display: block;
}
@media (max-width: 415px) {
  .about-us {
    display: none;
  }
}
.about-us__header {
  text-align: center;
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 3.2rem;
}
.about-us__items {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 2.6rem;
}
.about-us__title {
  margin: 0.53rem;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: #3CABFF;
}
.about-us__paragraph {
  font-size: 18px;
  line-height: 24px;
  color: #333;
}
@media (max-width: 415px) {
  #page {
    display: none;
  }
}
.slider-text {
  margin-right: 375px;
}
.slider-nav__small-images img {
  border-radius: 8px;
}
.slider-single__main-photo img {
  border-radius: 8px;
}
.div {
  float: right;
}
.team__header {
  text-align: center;
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 3.2rem;
}
.column {
  margin-top: 2.6rem;
}
#page {
  margin: 104px 0;
}
.h3 {
  background: #f0f0f0;
  color: #3498db;
  font-size: 2.25rem;
  margin: 0.5rem;
  padding: 2%;
  position: relative;
  text-align: center;
}
.second-block {
  position: relative;
  left: 50;
}
.slider-single {
  max-width: 384px;
  float: right;
}
.slider-nav {
  margin-bottom: 32px;
  max-width: 384px;
}
.slider-single h3 {
  line-height: 10rem;
  height: 632px;
}
.slider-nav h3::before {
  content: "";
  display: block;
  padding-top: 75%;
}
.slider-nav h3 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-nav .slick-slide {
  cursor: pointer;
}
.slick-slide.is-active h3 {
  color: #c00;
  background-color: #fff;
}
.team {
  margin-top: 320px;
  margin-bottom: 150px;
}
.team__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 75px;
}
.team__doctors-info {
  display: flex;
  max-width: 800px;
  min-height: 800px;
}
.team__slider {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
.team__slider .slider-navigation {
  width: 100%;
  width: 384px;
  height: 72px;
  margin-bottom: 32px;
}
.team__slider .slider-main-image {
  width: 100%;
  left: 830px;
}
.team__slider .slider-main-image img {
  width: 384px;
  height: 632px;
}
.valeriy-misiliuk {
  display: flex;
}
.team__doctor-name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 52px;
  color: #3cabff;
  align-self: center;
}
.team__doctor-position {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
}
.team__doctor-position strong {
  padding-right: 32px;
}
.team__doctor-education {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  padding-top: 16px;
}
.team__doctor-education strong {
  padding-right: 11px;
}
.team__doctor-experience {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  padding-top: 16px;
}
.team__doctor-experience strong {
  padding-right: 83px;
}
.team__other-info {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  flex-wrap: wrap;
}
.team__other-info img {
  margin-right: 8px;
}
.team__other-info .team__other-info__block {
  display: flex;
}
.team__other-info .team__other-info__block img {
  margin-top: 25px;
  height: 10px;
  width: 10px;
}
.team__buttons {
  display: flex;
}
.team__button-diploma {
  margin: 20px 20px 20px 0;
}
.team__button-diploma a {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
  width: 212px;
  height: 56px;
  padding: 12px 16px;
  background: #3cabff;
  border-radius: 8px;
  border: none;
  transition: 0.2s all linear;
}
.team__button-diploma a:hover {
  background-color: #0088ef;
}
.team__button-identity {
  margin: 20px 20px 20px 0;
}
.team__button-identity a {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
  margin-right: 16px;
  width: 212px;
  height: 56px;
  margin-top: 40px;
  padding: 12px 16px;
  background: #3cabff;
  border-radius: 8px;
  border: none;
  transition: 0.2s all linear;
}
.team__button-identity a:hover {
  background-color: #0088ef;
}
.team__doctors-main-image img {
  width: 395px;
  height: 632px;
  border-radius: 8px;
  border: none;
}
.patiens {
  display: block;
}
@media (max-width: 415px) {
  .patiens {
    display: none;
  }
}
.patiens__inner {
  margin-top: -86px;
}
.patiens__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 40px;
}
.patiens__slide {
  width: 280px;
  height: 360px;
  margin: 0px 12px 0px 12px;
  cursor: pointer;
}
.patiens__slide img {
  border-radius: 8px 8px 0 0;
}
.patiens__slide:focus {
  outline: none;
}
.patient__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 280px;
  box-shadow: 0px 2px 16px rgba(60, 171, 255, 0.16);
  border-radius: 0 0 8px 8px;
  transition: 0.3s all linear;
  padding: 16px 24px;
}
.patient__content:hover {
  background-color: #3CABFF;
  color: white;
}
.patient__name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
.patient__species {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}
.patient__cause {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.comments {
  display: block;
}
@media (max-width: 415px) {
  .comments {
    display: none;
  }
}
.comments__inner {
  margin-top: 104px;
}
.comments__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}
.comments__slider {
  margin-top: 40px;
}
.comments__slide {
  width: 384;
  height: 240px;
  background-image: url(/img/Comas.png);
  background-repeat: no-repeat;
  background-position-x: 5%;
  background-position-y: 5%;
}
.comments__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  max-height: 130px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 24px 24px 0px 24px;
}
.comments__who {
  text-align: end;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 72px;
}
.comments__date {
  text-align: end;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.location {
  margin-top: 104px;
  display: block;
}
@media (max-width: 415px) {
  .location {
    display: none;
  }
}
.location__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 40px;
}
.location__inner {
  display: flex;
}
.location__info-cart {
  width: 280px;
  height: 296px;
  box-shadow: 0px 2px 16px rgba(60, 171, 255, 0.16);
  border-radius: 8px;
  margin-right: 32px;
}
.location__info-cart__location {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  padding: 16px 24px;
  white-space: nowrap;
}
.location__info-cart__location img {
  width: 20px;
  height: 24px;
  margin-right: 18px;
  align-self: center;
}
.location__info-cart__time {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  padding: 12px 24px;
  white-space: nowrap;
}
.location__info-cart__time img {
  width: 20px;
  height: 24px;
  margin-right: 18px;
  align-self: center;
}
.location__info-cart__phone {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  padding: 16px 24px;
  white-space: nowrap;
}
.location__info-cart__phone img {
  width: 20px;
  height: 24px;
  margin-right: 18px;
  align-self: center;
}
.location__button {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
  align-self: center;
  width: 232px;
  height: 56px;
  padding: 12px 16px;
  background: #3cabff;
  border-radius: 8px;
  margin: 24px 24px;
  border: none;
  transition: 0.2s all linear;
}
.location__button:hover {
  background-color: #0088ef;
}
.location__google-map {
  filter: drop-shadow(0px 2px 16px rgba(60, 171, 255, 0.16));
  border-radius: 8px;
  margin-bottom: 55px;
}
.footer {
  background-color: rgba(60, 171, 255, 0.32);
  margin-top: 104px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 415px) {
  .footer__inner {
    display: block;
  }
}
.footer__logo-tagline {
  display: flex;
  padding-top: 52px;
}
.footer__tagline {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 60px;
  flex-wrap: wrap;
}
@media (max-width: 415px) {
  .footer__tagline {
    display: none;
  }
}
.footer__navigation {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 415px) {
  .footer__navigation {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.footer__navigation__first-block {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}
.footer__navigation__first-block a {
  text-decoration: none;
  color: #333333;
  padding: 15px 0px;
  transition: 0.2s all linear;
}
.footer__navigation__first-block a:hover {
  color: #0088ef;
}
.footer__navigation__second-block {
  display: flex;
  flex-direction: column;
}
.footer__navigation__second-block a {
  text-decoration: none;
  color: #333333;
  padding: 15px 0px;
  transition: 0.2s all linear;
}
.footer__navigation__second-block a:hover {
  color: #0088ef;
}
.footer__developed-by {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-right: 72px;
  text-align: end;
}
.footer__developed-by span {
  padding: 15px 0px;
  white-space: nowrap;
}
.footer__developed-by strong {
  color: #dd5d5d;
}
@media (max-width: 415px) {
  .footer__developed-by {
    text-align: start;
  }
}
.services-mobile {
  display: none;
}
@media (max-width: 415px) {
  .services-mobile {
    display: block;
  }
}
.services-mobile__header {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-top: 48px;
  margin-bottom: 24px;
  text-align: center;
}
.services-mobile__slider {
  padding-top: 2.6rem;
}
.services-mobile__slide {
  overflow: hidden;
  width: 250px;
}
.services-mobile__slide button {
  width: 100%;
  border: none;
  background: none;
  padding: 0;
}
.services-mobile__image {
  display: block;
  box-shadow: 0px 2px 16px rgba(60, 171, 255, 0.16);
  border-radius: 8px 8px 0px 0px;
}
.services-mobile__image img {
  margin: auto;
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0px 0px;
}
.services-mobile__content {
  padding-top: 1.06rem;
  padding-bottom: 1.06rem;
  margin-bottom: 24px;
  border-radius: 0 0 8px 8px;
  transition: 0.3s all linear;
  text-align: center;
}
.services-mobile__content:hover {
  background-color: #3CABFF;
}
.services-mobile__content:hover .services-mobile__title {
  color: white;
}
.services__title {
  text-align: center;
  color: #3CABFF;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.13rem;
}
.block {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 80%;
  text-align: center;
  padding: 6.4rem 4.93rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  background: #3CABFF;
  display: none;
}
.about-us-mobile {
  display: none;
}
@media (max-width: 415px) {
  .about-us-mobile {
    margin-top: 6.93rem;
    display: block;
  }
}
.about-us-mobile__header {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.about-us-mobile__image {
  margin: auto;
}
.about-us-mobile__slider {
  text-align: center;
  margin-top: 2.6rem;
}
.about-us-mobile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: 0.53rem;
  color: #3CABFF;
}
.about-us-mobile__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #333;
}
.team-mobile {
  display: none;
}
@media (max-width: 415px) {
  .team-mobile {
    display: block;
    margin: 100px 0;
  }
}
.team-mobile__image {
  width: 100%;
  max-height: 360px;
}
.team-mobile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 24px;
  color: #3CABFF;
}
.team-mobile__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  color: #333333;
}
.comments-mobile {
  display: none;
}
@media (max-width: 415px) {
  .comments-mobile {
    margin-top: 6.93rem;
    display: block;
  }
}
.comments-mobile__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333333;
  margin-bottom: 24px;
}
.patiens-mobile {
  display: none;
}
@media (max-width: 415px) {
  .patiens-mobile {
    margin-top: 6.93rem;
    display: block;
  }
}
.patiens-mobile__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333333;
  margin-bottom: 24px;
}
.patiens-mobile__slide {
  height: 360px;
  margin: auto;
  cursor: pointer;
}
.patiens-mobile__slide img {
  border-radius: 8px 8px 0 0;
  width: 80%;
  margin: auto;
}
.patiens-mobile__slide:focus {
  outline: none;
}
.patient-mobile__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 2px 16px rgba(60, 171, 255, 0.16);
  width: 80%;
  margin: auto;
  border-radius: 0 0 8px 8px;
  transition: 0.3s all linear;
  padding: 14px 22px;
}
.patient-mobile__content .patient-mobile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.patient-mobile__content .patient-mobile__species {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.patient-mobile__content .patient-mobile__cause {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.patient-mobile__content:hover {
  background-color: #3CABFF;
  color: white;
}
.location-mobile {
  display: none;
}
@media (max-width: 415px) {
  .location-mobile {
    margin-top: 104px;
    display: block;
  }
}
.location-mobile__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
  text-align: center;
}
.location-mobile__info-cart {
  width: 280px;
  height: 296px;
  border-radius: 8px;
  margin: auto;
}
.location-mobile__info-cart__location {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  padding: 16px 24px;
  white-space: nowrap;
}
.location-mobile__info-cart__location img {
  width: 20px;
  height: 24px;
  margin-right: 18px;
  align-self: center;
}
.location-mobile__info-cart__time {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  padding: 12px 24px;
  white-space: nowrap;
}
.location-mobile__info-cart__time img {
  width: 20px;
  height: 24px;
  margin-right: 18px;
  align-self: center;
}
.location-mobile__info-cart__phone {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  padding: 16px 24px;
  white-space: nowrap;
}
.location-mobile__info-cart__phone img {
  width: 20px;
  height: 24px;
  margin-right: 18px;
  align-self: center;
}
.location-mobile__button {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
  align-self: center;
  width: 232px;
  height: 56px;
  background: #3cabff;
  border-radius: 8px;
  margin: 24px 24px;
  border: none;
  transition: 0.2s all linear;
}
.location-mobile__button:hover {
  background-color: #0088ef;
}
.location-mobile__google-map {
  filter: drop-shadow(0px 2px 16px rgba(60, 171, 255, 0.16));
  border-radius: 8px;
  margin-bottom: 55px;
}
.modal {
  display: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: rgba(51, 51, 51, 0.85);
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  z-index: 1000;
}
.modal.show {
  display: flex;
}
.modal__dialog {
  width: 100%;
  max-width: 1216px;
  height: auto;
  margin: auto;
  position: relative;
  background-color: #fff;
  border-radius: 16px;
}
.modal-close {
  width: 18.67px;
  height: 18.67px;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  z-index: 1;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s linear;
}
.modal-close:hover {
  transform: rotate(90deg);
}
.modal-content {
  padding: 40px 240px;
}
@media (max-width: 415px) {
  .modal-content {
    padding: 16px 24px;
  }
  .modal-content iframe {
    width: 338px;
  }
}
.modal-content__images {
  text-align: center;
}
.modal-content__images img {
  max-width: 700px;
}
@media (max-width: 415px) {
  .modal-content__images img {
    max-width: 318px;
  }
}
.modal-content__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 24px;
  color: #333333;
}
@media (max-width: 415px) {
  .modal-content__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
  }
}
.modal-content__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  margin-top: 24px;
  color: #333333;
}
@media (max-width: 415px) {
  .modal-content__subtitle {
    font-size: 18px;
    line-height: 24px;
  }
}
.modal-content__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #4f4f4f;
}
.attantion {
  color: red;
}
.modal-content__small-text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  color: #333333;
}
