// main: ../style.less

.footer {
  background-color: rgba(60, 171, 255, 0.32);
  margin-top: 104px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;

  @media @mobile {
    display: block;
  }
}

.footer__logo-tagline {
  display: flex;
  padding-top: 52px;
}

.footer__tagline {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  padding-bottom: 60px;

  flex-wrap: wrap;

  @media @mobile {
    display: none;
  }
}

.footer__navigation {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  justify-content: space-between;

  @media @mobile {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer__navigation__first-block {
  display: flex;
  flex-direction: column;

  margin-right: 80px;

  span {
    padding: 15px 0px;
  }
}

.footer__navigation__second-block {
  display: flex;
  flex-direction: column;

  span {
    padding: 15px 0px;
  }
}

.footer__developed-by {
  display: flex;
  flex-direction: column;

  padding-top: 64px;
  padding-right: 72px;

  text-align: end;

  span {
    padding: 15px 0px;
    white-space: nowrap;
  }

  strong {
    color: #dd5d5d;
  }

  @media @mobile {
    text-align: start;
  }
}
