// main: ../style.less

.modal-content {
  padding: 40px 240px;

  @media @mobile {
    iframe {
      width: 338px;
    }
    video {
      width: 295px;
      height: 215px;
    }
    padding: 16px 24px;
  }

  @media @mobile-sm {
    iframe {
      width: 338px;
    }
    video {
      width: 245px;
      height: 215px;
    }
    padding: 16px 24px;
  }
}

.modal-content__images {
  text-align: center;
  img {
    max-width: 700px;
  }

  @media @mobile {
    img {
      max-width: 318px;
    }
  }
}

.modal-content__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  margin-bottom: 24px;

  color: #333333;

  @media @mobile {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;

    color: #333333;
  }
}

.modal-content__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;

  margin-top: 24px;

  color: #333333;

  @media @mobile {
    font-size: 18px;
    line-height: 24px;
  }
}

.modal-content__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;

  color: #4f4f4f;
}

.attantion {
  color: red;
}

.modal-content__small-text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  margin-top: 16px;

  color: #333333;
}

.info__link {
  text-decoration: none;
  color: @primary_blue;

  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;

  @media @mobile {
    font-size: 18px;
    line-height: 24px;
  }
}
