// main: ../style.less
.patiens {
  display: block;

  @media @mobile {
    display: none;
  }
}

.patiens__inner {
  margin-top: -86px;
}

.patiens__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;

  text-align: center;

  margin-bottom: 40px;
}

.patiens__slide {
  width: 280px;
  height: 360px;

  margin: 0px 12px 0px 12px;

  cursor: pointer;
  img {
    border-radius: 8px 8px 0 0;
  }

  &:focus {
    outline: none;
  }
}

.patient__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 280px;
  box-shadow: 0px 2px 16px rgba(60, 171, 255, 0.16);

  border-radius: 0 0 8px 8px;

  transition: 0.3s all linear;

  padding: 16px 24px;
  &:hover {
    background-color: @primary_blue;
    color: white;
  }
}

.patient__name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.patient__species {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.patient__cause {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
