// main: ../style.less

.js .slider-single > div:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }


.slider-text {
 margin-right: 375px;
}

.slider-nav__small-images {
    img {
        border-radius: 8px;
    }

}

.slider-single__main-photo {
    img {
        border-radius: 8px;
    }
}

.div {
    float: right;
}
.team__header {
    text-align: center;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 3.2rem;
}

.column {
    margin-top: 2.6rem;
    margin-bottom: 250px;
}

#page {
    margin: 150px 0;
}
.h3 {
	background: #f0f0f0;
	color: #3498db;
	font-size: 2.25rem;
	margin: .5rem;
	padding: 2%;
	position: relative;
	text-align: center;
}

.second-block {
    position: relative;
    left: 50;
}

.slider-single {
    max-width: 384px;
    float: right;
}

.slider-nav {
    margin-bottom: 32px;
    max-width: 384px;
    // float: right;
}

.slider-single h3 {
	line-height: 10rem;
	height: 632px;
}

.slider-nav h3::before {
	content: "";
	display: block;
	padding-top: 75%;
}

.slider-nav h3 span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slider-nav .slick-slide { cursor: pointer; }

.slick-slide.is-active h3 {
	color: #c00;
	background-color: #fff
}

.team {
    margin-top: 320px;
    margin-bottom: 150px;
}

.team__title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;

    text-align: center;

    margin-bottom: 75px;
}


.team__doctors-info {
    display: flex;

    max-width: 800px;
}


.team__slider {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;

    .slider-navigation {
        width: 100%;
        width: 384px;
        height: 72px;

        margin-bottom: 32px;
    }

    .slider-main-image {
        width: 100%;
        left: 830px;
        img {
            width: 384px;
            height: 632px;
        }
    }
}

.valeriy-misiliuk {
    display: flex;
}
.team__doctor-name {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

	margin-bottom: 52px;

    color: #3CABFF;
    align-self: center;
}

.team__doctor-position {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    display: flex;
    strong {
        padding-right: 32px;
    }
    
}

.team__doctor-education {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    padding-top: 16px;

    strong {
        padding-right: 11px;
    }
}

.team__doctor-experience {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    display: flex;
    padding-top: 16px;
    strong {
        padding-right: 83px;
    }
}

.team__other-info {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

	flex-wrap: wrap;
    
    img {
        margin-right: 8px;
    }

    .team__other-info__block {
        display: flex;
        img {
            margin-top: 25px;
            height: 10px;
            width: 10px;
        }
    }
}

.team__buttons {
    display: flex;
}

.team__button-diploma {
    margin: 20px 20px 20px 0;
    a {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
    
        white-space: nowrap;

        text-decoration: none;
    
        width: 212px;
        height: 56px;
      
        padding: 12px 16px;
        background: #3CABFF;
        border-radius: 8px;
        
        border: none;
        transition: 0.2s all linear;
        &:hover {
            background-color: darken(@primary_blue, 15%);
        }
    }
}

.team__button-identity {
    margin: 20px 20px 20px 0;
    a {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
    
        white-space: nowrap;

        text-decoration: none;
    
        margin-right: 16px;
        width: 212px;
        height: 56px;
        margin-top: 40px;
        padding: 12px 16px;
        background: #3CABFF;
        border-radius: 8px;
        
        border: none;
        transition: 0.2s all linear;
        &:hover {
            background-color: darken(@primary_blue, 15%);
        }
    }
}

.team__doctors-main-image {
    img {
        width: 395px;
        height: 632px;

        border-radius: 8px;
        border: none;
    }
    
}